<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    Maho_Mollie
 * @copyright  Copyright (c) 2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Maho_Mollie>
            <version>1.1.0</version>
        </Maho_Mollie>
    </modules>

    <global>
        <models>
            <maho_mollie>
                <class>Maho_Mollie_Model</class>
            </maho_mollie>
        </models>

        <blocks>
            <maho_mollie>
                <class>Maho_Mollie_Block</class>
            </maho_mollie>
        </blocks>

        <helpers>
            <maho_mollie>
                <class>Maho_Mollie_Helper</class>
            </maho_mollie>
        </helpers>

        <resources>
            <maho_mollie_setup>
                <setup>
                    <module>Maho_Mollie</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </maho_mollie_setup>
        </resources>

        <sales>
            <quote>
                <totals>
                    <payment_fee>
                        <class>maho_mollie/quote_address_total_paymentFee</class>
                        <after>subtotal,shipping,tax,discount</after>
                        <before>grand_total</before>
                    </payment_fee>
                </totals>
            </quote>
        </sales>

        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <maho_mollie_copy_payment_fee>
                        <class>maho_mollie/observer</class>
                        <method>copyPaymentFeeToOrder</method>
                    </maho_mollie_copy_payment_fee>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>

        <payment>
            <groups>
                <mollie>Mollie</mollie>
            </groups>
        </payment>
    </global>

    <crontab>
        <jobs>
            <maho_mollie_check_pending_payments>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>maho_mollie/cron::checkPendingPayments</model>
                </run>
            </maho_mollie_check_pending_payments>
        </jobs>
    </crontab>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Maho_Mollie before="Mage_Adminhtml">Maho_Mollie_Adminhtml</Maho_Mollie>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <mollie>
                <use>standard</use>
                <args>
                    <module>Maho_Mollie</module>
                    <frontName>mollie</frontName>
                </args>
            </mollie>
        </routers>
        <secure_url>
            <maho_mollie_payment>/mollie/payment</maho_mollie_payment>
            <maho_mollie_webhook>/mollie/webhook</maho_mollie_webhook>
        </secure_url>
        <translate>
            <modules>
                <Maho_Mollie>
                    <files>
                        <default>Maho_Mollie.csv</default>
                    </files>
                </Maho_Mollie>
            </modules>
        </translate>
    </frontend>

    <default>
        <maho_mollie>
            <credentials>
                <testmode>1</testmode>
                <api_key_live backend_model="adminhtml/system_config_backend_encrypted"/>
                <api_key_test backend_model="adminhtml/system_config_backend_encrypted"/>
                <debug>0</debug>
            </credentials>
            <payment_fee>
                <fee_type>disabled</fee_type>
                <fee_fixed>0</fee_fixed>
                <fee_percent>0</fee_percent>
                <fee_max></fee_max>
                <include_shipping>0</include_shipping>
                <include_discount>0</include_discount>
            </payment_fee>
        </maho_mollie>
        <payment>
            <mollie>
                <active>0</active>
                <model>maho_mollie/method_standard</model>
                <title>Mollie</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>100</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie>
            <mollie_ideal>
                <active>0</active>
                <model>maho_mollie/method_ideal</model>
                <title>iDEAL</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>101</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_ideal>
            <mollie_bancontact>
                <active>0</active>
                <model>maho_mollie/method_bancontact</model>
                <title>Bancontact</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>102</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_bancontact>
            <mollie_creditcard>
                <active>0</active>
                <model>maho_mollie/method_creditcard</model>
                <title>Credit Card</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>103</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_creditcard>
            <mollie_paypal>
                <active>0</active>
                <model>maho_mollie/method_paypal</model>
                <title>PayPal</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>104</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_paypal>
            <mollie_klarnapaylater>
                <active>0</active>
                <model>maho_mollie/method_klarnapaylater</model>
                <title>Klarna - Pay later</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>105</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_klarnapaylater>
            <mollie_klarnapaynow>
                <active>0</active>
                <model>maho_mollie/method_klarnapaynow</model>
                <title>Klarna - Pay now</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>106</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_klarnapaynow>
            <mollie_klarnasliceit>
                <active>0</active>
                <model>maho_mollie/method_klarnasliceit</model>
                <title>Klarna - Slice it</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>107</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_klarnasliceit>
            <mollie_applepay>
                <active>0</active>
                <model>maho_mollie/method_applepay</model>
                <title>Apple Pay</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>108</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_applepay>
            <mollie_banktransfer>
                <active>0</active>
                <model>maho_mollie/method_banktransfer</model>
                <title>Bank Transfer</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>109</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_banktransfer>
            <mollie_directdebit>
                <active>0</active>
                <model>maho_mollie/method_directdebit</model>
                <title>SEPA Direct Debit</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>110</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_directdebit>
            <mollie_giftcard>
                <active>0</active>
                <model>maho_mollie/method_giftcard</model>
                <title>Gift Card</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>111</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_giftcard>
            <mollie_in3>
                <active>0</active>
                <model>maho_mollie/method_in3</model>
                <title>iDEAL in3</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>112</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_in3>
            <mollie_riverty>
                <active>0</active>
                <model>maho_mollie/method_riverty</model>
                <title>Riverty</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>113</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_riverty>
            <mollie_googlepay>
                <active>0</active>
                <model>maho_mollie/method_googlepay</model>
                <title>Google Pay</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>114</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_googlepay>
            <mollie_trustly>
                <active>0</active>
                <model>maho_mollie/method_trustly</model>
                <title>Trustly</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>115</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_trustly>
            <mollie_twint>
                <active>0</active>
                <model>maho_mollie/method_twint</model>
                <title>TWINT</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>116</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_twint>
            <mollie_blik>
                <active>0</active>
                <model>maho_mollie/method_blik</model>
                <title>BLIK</title>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <sort_order>117</sort_order>
                <fee_enabled>0</fee_enabled>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
            </mollie_blik>
        </payment>
    </default>
</config>
